.logo {background-image: url("images/Logo.svg");}
body {position: absolute; top: 0px; margin: 0px; width: fit-content; font-family: "Graphik", Arial; font-weight: 500; width: fit-content;}
main {position: relative; top: 80px; display: flex; flex-direction: column; width: 100vw; text-align: center; overflow: hidden;}
h1 {min-width: 140px; font-family: "Dinoko", Arial; font-size: 24px; color: #5A9927; text-align: center; line-height: 20px;}
h1 span {position: relative; top: -5px; font-family: "Craft Holic", Arial; font-size: 14px; color: #C6E6B0; line-height: 14px;}
h2 {font-family: "Craft Holic", Arial; font-size: 36px; padding: 38px; margin: 0px;}
h3 {font-size: 18px; margin-bottom: 15px;}
ul {list-style: none; padding: 0px;}
nav {list-style: none;}
nav li:hover {text-decoration: underline;}

/* Cards */
.triocards {position: relative; left: -72px; display: flex; min-width: 144px; width: calc(100vw + 144px); align-items: space-between; justify-content: space-between; font-size: 12px; text-align: start;}
.cards {position: relative; min-height: 203px; height: 54.14vw; min-width: 144px; width: 38.46vw; box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.25); border-radius: 8px; margin-bottom: 44px; overflow: hidden;}
.cardname {position: absolute; top: 148px; left: 4px; width: 83px; margin: 0px;}
.cardprice {position: absolute; top: 148px; right: 4px; margin: 0px;}
.cardava {position: absolute; bottom: 4px; right: 4px; margin: 0px;}
.cardquan {position: absolute; bottom: 4px; left: 4px; margin: 0px;}
.cardimgs {min-width: 144px; width: 38.46vw; min-height: 144px; height: 38.46vw; background-size: contain; background-repeat: no-repeat;}

/* Fixed Header */
#absheader {display: none;}
#fixheader {position: fixed; top: 0px; height: 80px; width: 100vw; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); display: flex; z-index: 101; background-color: white;}
    #burger {position: relative; left: 5%; top: 31.5px; background-image: url("images/Burger.svg"); background-size: contain; height: 15px; width: 23px; }
    #fixheader h1 {position: relative; top: 24px; left: 10%; margin: 0px;}
    #triologofix {position: absolute; top: 24px; right: 5%; height: 30px; width: 30%; max-width: 131px; display: flex; justify-content: space-between; margin: 0px;}
        .glass {background-image: url("images/Loupe.svg"); background-size: contain; width: 31px; height: 30px;}
        .account {background-image: url("images/account.svg"); background-size: contain; width: 24px; height: 30px;}
        .checkout {background-image: url("images/checkout.svg"); background-size: contain; width: 35.11px; height: 30px;}

/* Hero */
#hero {position: relative; top: 0px; height: 395.7vw; background-color: #BCD5E6; overflow: hidden;}
#herologo {z-index: 100; position: relative; left: 39.2157%; width: 21.3vw; height: 22.775vw; background-image: url("images/Logo.svg"); background-size: contain;}
/* Earth */
#surface {position: relative; top: -0.8%; left: -0.5vw; height: 3.85vw; width: 101vw; background-image: url(images/soil.svg); background-size: contain; background-repeat: no-repeat;}
#earth {position: relative; top: -1%; background-color: #AB7454; height: 373vw; z-index: 0;}
#roots {position: relative; left: 23vw; top: -0.3%; height: 325vw; width: 60vw; background-image: url(images/Roots.svg); background-size: contain; background-repeat: no-repeat;}
#today {position: absolute; top: 25px; left: 15%; z-index: 1; font-family: "Craft Holic", Arial; font-size: 25px; width: 70vw; color: white; text-align: center;}
/* Icon duos */
.heroduo {width: 160px; color: #6eb5db; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; position: absolute; cursor: pointer;}
    .herotext {margin: 0px; font-size: 12px;}
    .herogo {background-size: contain; background-repeat: no-repeat; height: 17.5vw; width: 17.5vw; transition: transform 0.3s;}
    .herotext {position: relative; top: 10px;}
    #exoduo {top: 71vw; left: 7vw;}
        #exotic {background-image: url(images/map.svg);}
    #quickduo {top: 123vw; left: 40vw;}
        #quick {background-image: url(images/field.svg);}
    #eggduo {top: 174vw; left: 3vw;} 
        #eggs {background-image: url(images/egg.svg);}
    #ideaduo {top: 220vw; left: 54vw;}
        #idea {background-image: url(images/idea.svg);}
    #adviduo {top: 261vw; left: 0vw;}
        #advice {background-image: url(images/advice.svg);}
    #eartduo {top: 323vw; left: 47vw;}
        #planet {background-image: url(images/earth.svg);}

/* Selections */
#selections {position: relative; top: 0px; overflow: hidden;}
#selecard1img {background-image: url(images/ramasse-fruit.svg);}
#selecard2img {background-image: url(images/carrepotager.svg);}
#selecard3img {background-image: url(images/salade.svg);}
#selecard3name {width: 135px;}
#selecard4img {background-image: url(images/courgette.svg);}
#selecard5img {background-image: url(images/gant.png);}
#selecard6img {background-image: url(images/cocarde.png);}

/* Why */
#why {background-color: #EAF7FF;}
#whys {display: flex; flex-wrap: wrap; margin: 4.87vw; justify-content: space-between;}
.whyduo {width: 30vw; display: flex; flex-direction: column; align-items: center; padding-bottom: 74px;}
.whyogo {position: relative; background-size: contain; min-width: 66px; max-width: 88px; min-height: 66px; max-width: 88px; transition: transform 0.3s;}
.whytext {position: relative; font-size: 12px; margin: 0px; top: 2px;}
#quality {background-image: url(images/plant.svg);}
#transparency {background-image: url(images/transparence.svg);}
#diversity {background-image: url(images/diversity.svg);}
#authenticity {background-image: url(images/bee.svg);}
#prices {background-image: url(images/prices.svg);}
#share {background-image: url(images/share.svg);}

/* Seasonal Products */
#seacard1img {background-image: url(images/radis.svg);}
#seacard2img {background-image: url(images/radis2.svg);}
#seacard3img {background-image: url(images/chou.svg);}

/* Know More */
#divknowmore {background-color: #6DADBF; height: 163.9vw;}
#trioknow {position: relative; top: 20.53vw; left: -57.7vw; margin: 0px; display: flex; width: calc(215.2vw); align-items: space-between; justify-content: space-between; font-size: 12px; text-align: start;}
.knowcards {position: relative; width: 64.935vw; height: 116.82vw;}
.knowcards:hover {z-index: 0;}
.knowcardimgs {position: relative; height: 100vw; width: 64.935vw; background-size: cover; margin-bottom: 18px; background-repeat: no-repeat;}
#knowcard1img {background-image: url(images/engagements.svg);}
#knowcard2img {background-image: url(images/origin.svg);}
#knowcard3img {background-image: url(images/accompagnement.svg);}
/* Image text */
.knowcardimgs h2 {position: absolute;}
#origin {left: -70px; bottom: 40px;}
#company {top: -51px; left: -56px;}
#commit {top: -30px; right: -50px;}
/* Rectangle */
.knowmore {position: absolute; font-size: 24px; font-weight: 400; background-color: #C6E6B0; border: solid 0.5px black; width: 64.935vw; padding-top: 2vw; padding-bottom: 2vw; text-align: center; margin: 0px;}

/* Footer */
footer {position: relative; text-align: center; width: 100vw; background-color: #C6E6B0;}
#linebackward {position: relative; top: 40px;}
.footext {margin-top: 38px; margin-bottom: 77px; position: relative;}
/* Paymeans */
#credit {width: 78vw; margin-right: 11vw; margin-left: 11vw; display: flex; flex-wrap: wrap; justify-content: center; text-align: center;}
.pay {height: 32px; width: 53px; background-size: contain; overflow: hidden; margin: 4px;}
#AE {background-image: url(images/americanexpress.svg);}
#cirrus {background-image: url(images/cirrus.svg);}
#maestro {background-image: url(images/maestro.svg);}
#mastercard {background-image: url(images/mastercard.svg);}
#visa {background-image: url(images/visa.svg);}
#paypal {background-image: url(images/paypal.svg);}
#cb {background-image: url(images/cb.svg);}
#paymean {margin-bottom: 0px;}
/* From the middle line onward */
#lineonward {position: relative; top: 37px; display: flex; flex-direction: column; align-items: center; justify-content: space-evenly; font-size: 12px;}
#linefooter {width: 58.668vw; background: black; border: solid black 2px; margin-top: 38px; margin-bottom: 38px; border-radius: 8px;}
#afterline {display: flex; flex-direction: column; align-items: center; justify-content: space-evenly;}
/* Newsletter */
#newsli {position: relative; width: 217px; height: 30px; margin-bottom: 11px;}
#newsletter {position: relative; border: solid; border-color: black; border-radius: 0px; border-width: 0.5px; background: transparent; width: 211px; height: 26px;}
#newsli label {position: relative; user-select: none; top: 21px; right: 75px;}
#newsbloc {width: 100vw; margin-right: 0px; display: flex; flex-direction: column; align-items: center;}
/* Social medias */
#footogos {display: flex; width: 139px; justify-content: space-between; align-items: center;}
.footogo {position: relative; top: 11px; width: 23px; height: 23px; background-size: contain; background-repeat: no-repeat;}
#pinterest {background-image: url(images/pinterest2.svg); width: 17px;}
#instagram {background-image: url(images/instagram.svg);}
#facebook {background-image: url(images/facebook2.svg);}
#twitter {background-image: url(images/twitter2.svg); height: 18px;}
#ltd {padding: 82px; width: 230px;}

/* Responsive mobile */
@media screen and (min-width: 375px) {
    #surface {left: 0px; width: 103vw;}
    .cardname {top: calc(38.46vw + 4px);}
    .cardprice {top: calc(38.46vw + 4px);}
    #exoduo {top: 72vw; left: 10vw;}
    #quickduo {top: 124vw; left: 42vw;}
    #eggduo {top: 175vw; left: 5vw;} 
    #ideaduo {top: 221vw; left: 57vw;}
    #adviduo {top: 262vw; left: 1vw;}
    #eartduo {top: 324vw; left: 50vw;}
    .whytext {font-size: 14px;}
    .herotext {font-size: 14px;}
}

@media screen and (min-width: 425px) {
    #credit {width: 70vw; margin-right: 15vw; margin-left: 15vw;}
    #exoduo {top: 73vw; left: 13vw;}
    #quickduo {top: 125vw; left: 45vw;}
    #eggduo {top: 176vw; left: 8vw;} 
    #ideaduo {top: 222vw; left: 58vw;}
    #adviduo {top: 263vw; left: 3vw;}
    #eartduo {top: 325vw; left: 53vw;}
 }

 @media screen and (min-width: 500px) {
    #exoduo {top: 72vw; left: 15vw;}
    #quickduo {top: 124vw; left: 47vw;}
    #eggduo {top: 175vw; left: 10vw;} 
    #ideaduo {top: 223vw; left: 60vw;}
    #adviduo {top: 264vw; left: 5vw;}
    #eartduo {top: 324vw; left: 55vw;}
 }

 @media screen and (min-width: 600px) {
    #exoduo {left: 18vw;}
    #quickduo {left: 50vw;}
    #eggduo {left: 14vw;} 
    #ideaduo {top: 224vw; left: 63vw;}
    #adviduo {top: 265vw; left: 9vw;}
    #eartduo {top: 326vw; left: 58vw;}
 }

 /* Responsive tablet */
 @media screen and (min-width: 768px) {
    /* Cards */
    .triocards {min-width: 144px; width: 73.53vw; left: 0px;}
    .cards {height: 26.11vw; width: 18.52vw;}
    .cardname {top: calc(18.52vw + 4px); left: 4px; width: 83px; margin: 0px;}
    .cardprice {position: absolute; top: calc(18.52vw + 4px); right: 4px; margin: 0px;}
    .cardava {position: absolute; bottom: 4px; right: 4px; margin: 0px;}
    .cardquan {position: absolute; bottom: 4px; left: 4px; margin: 0px;}
    .cardimgs {width: 18.52vw; height: 18.52vw;}
    .leftarrow {background-image: url(images/leftarrow.svg); width: 3.69vw; height: 1.68vw; background-size: contain; background-repeat: no-repeat; cursor: pointer; transition: transform 0.3s;}
    .leftarrow:hover {transform: translateX(-10%);}
    .rightarrow {background-image: url(images/rightarrow.svg); width: 3.69vw; height: 1.68vw; background-size: contain; background-repeat: no-repeat; cursor: pointer; transition: transform 0.3s;}
    .rightarrow:hover {transform: translateX(10%);}
    .ribbon {display: flex; justify-content: space-evenly; align-items: center; position: relative;}
     /* Hero */
    #roots {background-image: url(images/rootsfull.svg); width: 72.1vw; top: -0.1%; left: 13.5vw;}
    #herologo {left: 43.5vw; width: 11.3vw; height: 12.04vw; margin-right: 0px;}
    #hero {height: 60vw;}
    #surface {top: -6%;}
    #earth {top: -6.8%; height: 373vw;}
    #today {top: 20vw; left: 15%; z-index: 1;}
    #ulhero {position: absolute; display: flex; margin: 0px; top: 35vw; left: -1vw; height: 8.96vw; width: 100vw; z-index: 300;}
    .heroduo {width: 12.85vw;}
        .herotext {font-size: 12px;}
        .herogo {height: 5.76vw; width: 5.76vw;}
        .herogo:hover {transform: translateY(-10%);}
        #exoduo {top: 0vw; left: 12.5vw;}
        #quickduo {top: 0vw; left: 26vw;}
        #eggduo {top: 0vw; left: 40vw;} 
        #ideaduo {top: 0vw; left: 53vw;}
        #adviduo {top: 0vw; left: 66vw;}
        #eartduo {top: 0vw; left: 80vw;}
    /* Selections */
    #selections {width: 100vw; height: 47.85vw;}
    .triocardhidden {display: none;}
    .selectitle {position: absolute; top: 6.6vw; display: flex; width: 19vw; font-size: 18px; font-family: "Graphik"; padding: 0px; z-index: 5; cursor: pointer;}
    #selections .ribbon {top: 15vw;}
    #selecseed {left: 25.5vw;}
    #selecusers {right: 25.5vw;}
    .selectitle:hover {font-family: "Craft Holic"; font-size: 24px;}
    .activeselectitle {position: absolute; top: 6.6vw; display: flex; width: 19vw;; padding: 0px; z-index: 5; font-family: "Craft Holic"; font-size: 24px;}
    .cards {margin: 0px;}
    /* Why */
    #why {height: 34.3vw;}
    #whys {margin-top: 0px; margin-bottom: 0px;}
    .whyogo {position: relative; background-size: contain; height: 5.76vw; width: 5.76vw; background-repeat: no-repeat; max-width: none;}
    .whyogo:hover {transform: translateY(-10%);}
    .whyduo {width: 11vw;}
    .whytext {position: relative; top: 1vw;}
    /* Seasonal Products */
    #season {height: 47.85vw; position: relative;}
    h2 {padding: 6.6vw;}
    .triocards {margin: 0px;}
    /* Knowmore */
    #divknowmore {height: 51.55vw;}
    .knowcards {margin-top: 77px; margin-bottom: 110px; width: 24.1vw; height: 42.02vw; margin: 0px;}
    .hiddentext {position: absolute; width: 100%; height: 35.91vw; background-color: #AB7454; margin: 0px; color: #BCD5E6; font-size: 14px; box-sizing: border-box; padding: 3vw; border-color: #BCD5E6; padding-top: 11vw;}
    .hiddentext span{font-size: 18px; font-family: "Craft Holic"; text-decoration: underline;}
    .knowcardimgs {margin: 0px; width: 24.1vw; height: 35.91vw;}
    .knowcardimgs:hover {background-color: #AB7454; opacity: 0.02;}
    .knowmore {font-size: 24px; margin-top: 10px; font-weight: 400; width: 24.1vw; padding-top: 5px; padding-bottom: 5px; text-align: center; right: -0.5px;}
    .knowmore:hover {background-color: #AB7454; color: #BCD5E6; border-color: #BCD5E6;}
    #trioknow {top: 4.79vw; left: 6vw; width: 87.72vw; margin: 0px;}
    #origin {left: -10.21vw; bottom: -3vw;}
    #company {top: -8vw; left: -9.17vw;}
    #commit {top: -5.125vw; right: -10.21vw;}
    /* Footer */
    footer {text-align: start; height: 34.48vw; min-height: 496px; top: 80px;}
    h3 {font-size: 18px;}
    #linebackward {display: flex; justify-content: space-evenly; font-size: 12px; margin-left: 12vw; margin-right: 12vw;}
    #credit {margin-right: 0px; margin-left: 0px; width: 20vw; justify-content: start; position: relative; right: 4px;}
    .footext {width: 20vw; margin-bottom: 0px;}
    #linefooter {width: 80vw;}
    #extras {width: 13vw;}
    #afterline {display: flex; flex-direction: row-reverse; width: 75vw; justify-content: space-between; align-items: center;}
    #newsbloc {width: 300px; align-items: start;}
    #newsli label {position: relative; user-select: none; top: 21px; left: 15px;}
    #ltd {width: 300px; padding: 0px;}
 }

 /* Responsive desktop */
 @media screen and (min-width: 1024px) {
    main {top: 0px;}
    #fixheader {z-index: 199;}
    #absheader {z-index: 200; position: relative; display: flex; justify-content: space-evenly; align-items: center;background-color: white; width: 100vw; height: 12.85vw; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);}
    #today {font-size: 36px;}
    nav {display: flex; justify-content: space-between; font-size: 10px;}
    #absheader h1 {font-size: 36px;}
    #absheader h1 span {font-size: 18px; top: 0.3vw;}
    #logoheader {width: 6.11vw; height: 6.536vw; background-size: contain; margin-left: 2.92vw; margin-right: 2.92vw;}
    .selectitle {width: 19vw; font-size: 18px;}
    #selecseed {left: 29vw;}
    #selecusers {right: 29vw;}
    #fixtext {display: flex; width: 60vw; flex-direction: column; justify-content: center; align-items: space-evenly; text-align: center;}
    #triologo {height: 2.85vw; width: 11.95vw; display: flex; justify-content: space-between; margin: 0px;}
    #absaccount {width: 2.29vw; height: 2.85vw;}
    #absglass {width: 2.93vw; height: 2.85vw;}
    #abscheckout {width: 3.33vw; height: 2.85vw;}
    #surface {left: -1vw;}
    footer {top: 0px;}
    .pay {height: 2vw; width: 3.3vw;}
 }

 @media screen and (min-width: 1440px) {
    nav {display: flex; justify-content: space-between; font-size: 12px;}
    #absheader h1 {position: relative; font-size: 48px;}
    #absheader h1 span {position: relative; font-size: 24px;}
    #today {font-size: 48px;}
    .herotext {font-size: 18px; width: 11vw;}
    .cards {font-size: 18px;}
    .cardname {width: 12.9vw;}
    .selectitle {font-size: 24px;}
    .selectitle:hover {font-size: 36px;}
    .activeselectitle {font-size: 36px;}
    #selecard3name {width: calc(100% - 8px);}
    .whytext {font-size: 18px;}
    .knowmore {font-size: 24px;}
    h2 {font-size: 48px;}
    h3 {font-size: 24px; margin-bottom: 15px;}
    .footext {font-size: 14px;}
    #fixheader {height: 5.5556vw;}
    #burger {top: 2.19vw; height: 1.04vw; width: 1.6vw;}
    #fixheader h1 {top: 1.666667vw; left: 10vw;}
    #triologofix {top: 1.666667vw; right: 5vw; height: 2.08vw; width: 10vw; max-width: none;}
        .glass {width: 2.15vw; height: 2.08vw;}
        .account {width: 1.6667vw; height: 2.08vw;}
        .checkout {width: 2.44vw; height: 2.08vw;}
        #newsli {margin-bottom: 1vw;}
    .hiddentext {font-size: 18px;}
    .hiddentext span{font-size: 24px;}
 }

@media screen and (min-width: 1900px) {
    nav {font-size: 14px;}
    #absheader h1 {position: relative; font-size: 56px;}
    #absheader h1 span {position: relative; font-size: 36px;}
    #fixheader h1 {top: 1.8vw;}
    #fixh1 {font-size: 36px;}
    #fixh1 span {font-size: 18px;}
    #today {font-size: 56px;}
    .herotext {font-size: 24px; width: 11vw;}
    .cards {font-size: 24px;}
    .cardname {width: 12.9vw;}
    .selectitle {font-size: 36px;}
    .selectitle:hover {font-size: 48px;}
    .activeselectitle {font-size: 48px;}
    #selecard3name {width: calc(100% - 8px);}
    .whytext {font-size: 24px;}
    h2 {font-size: 56px;}
    h3 {font-size: 36px; margin-bottom: 15px;}
    .footext {font-size: 18px;}
    .knowmore {font-size: 36px;}
    #newsbloc li {font-size: 14px;}
    #ltd {font-size: 14px;}
    #newsli label {font-size: 14px; top: 24px;}
    .hiddentext {font-size: 24px;}
    .hiddentext span{font-size: 36px;}
 }

 @media screen and (min-width: 2560px) {
    nav {font-size: 24px;}
    #absheader h1 {position: relative; font-size: 76px;}
    #absheader h1 span {position: relative; font-size: 60x;}
    #fixheader h1 {top: 1.95vw;}
    #fixh1 {font-size: 48px;}
    #fixh1 span {font-size: 24px;}
    #today {font-size: 64px;}
    .herotext {font-size: 36px; width: 11vw;}
    .cards {font-size: 36px;}
    .cardname {width: 12.9vw;}
    .selectitle {font-size: 48px;}
    .selectitle:hover {font-size: 60px;}
    .activeselectitle {font-size: 60px;}
    .whytext {font-size: 36px;}
    #selecard3name {width: calc(100% - 8px);}
    h2 {font-size: 64px;}
    h3 {font-size: 48px; margin-bottom: 15px;}
    .footext {font-size: 24px;}
    .knowmore {font-size: 48px;}
    #newsbloc {width: 15vw;}
    #ltd {font-size: 18px; width: 15vw;}
    #newsbloc li {font-size: 18px;}
    #newsli label {font-size: 18px; top: 26px;}
    .hiddentext {font-size: 36px;}
    .hiddentext span{font-size: 48px;}
 }