.logo {background-image: url("images/Logo.svg");}
body {position: absolute; height: 5037px; top: 0px; margin: 0px;}
h1 {min-width: 140px; font-family: "Dinoko", Arial; font-size: 24px; color: #5A9927; text-align: center; line-height: 20px;}
h1 span {position: relative; top: -5px; font-family: "Craft Holic", Arial; font-size: 14px; color: #C6E6B0; line-height: 14px;}
ul {list-style: none;}
main {position: absolute; top: 80px; height: 4983px; width: 100vw;}

/* Fixed Header */
#absheader {display: none; }
#fixheader {position: fixed; top: 0px; height: 80px; width: 100vw; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); display: flex; z-index: 200; background-color: white;}
    #burger {position: relative; left: 5%; top: 31.5px; background-image: url("images/Burger.svg"); background-size: contain; height: 15px; width: 23px; }
    #fixheader h1 {position: relative; top: 24px; left: 10%; margin: 0px;}
    #triologofix {position: absolute; top: 24px; right: 5%; height: 30px; width: 30%; max-width: 131px; display: flex; justify-content: space-between; margin: 0px;}
        .glass {background-image: url("images/Loupe.svg"); background-size: contain; width: 31px; height: 30px;}
        .account {background-image: url("images/account.svg"); background-size: contain; width: 24px; height: 30px;}
        .checkout {background-image: url("images/checkout.svg"); background-size: contain; width: 35.11px; height: 30px;}
/* Hero */
#hero {position: relative; top: 0px; height: 40.81%; background-color: #BCD5E6;}
#herologo {z-index: 100; position: relative; left: 39.2157%; width: 21.3vw; height: 22.775vw; background-image: url("images/Logo.svg"); background-size: contain;}
#surface {position: relative; top: -0.55%; left: 0px; height: 3.85vw; width: 100vw; background-image: url(images/soil.svg); background-size: contain; background-repeat: no-repeat;}
#earth {position: relative; top: -0.6%; background-color: #AB7454; height: 1396px; z-index: 0;}
#roots {position: relative; left: 23.474vw; top: -0.3%; height: 1221.19px; width: 60%; background-image: url(images/Roots.svg); background-size: contain; background-repeat: no-repeat;}
#today {position: relative; left: 15%; z-index: 1; font-family: "Craft Holic", Arial; font-size: 25px; width: 70vw; color: white; text-align: center;}